


<div class="showcase">
<div class="jumbotron text-center">
  <h1>LinkUS</h1>
  <p>
    
  </p>

</div>
  <div class="container">
    <h1>Got Ideas?</h1>
    <p class="lead">
       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </p>
    
  </div>
	

<!-- </div> -->

<div class="section-a">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
      <i class="fa fa-book"></i>
      <h3>Student</h3>
      <p style="font-variant:small-caps">Get ahead by using this app</p> 
      </div>

      <div class="col-md-4">
      <i class="fa  fa-university"></i>
      <h3>University</h3>
      <p style="font-variant:small-caps">Platform to evolve</p>
      </div>
  
      <div class="col-md-4">
      <i class="fa fa-home"></i>
      <h3>Parents</h3>
      <p style="font-variant:small-caps">Get involve with the communities!</p>
      </div>

      <div class="col-md-4">
      <i class="fa fa-industry"></i>
      <h3>Corporates</h3>
      <p style="font-variant:small-caps">Expand your Demographic market!</p>
      </div>

      
      </div>
    </div>
  </div>


</div> <!--div showcase -->




   <div class="section-b">
      <div class="container">
        <div class="row">
          <div class="col-md-6">

             <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>


          </div>

          <div class="col-md-6">
            <img src="src/img/podcast.jpg">
          </div>

  
        </div>
      </div>
    </div>

 <div class="section-c">
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-md-offset-2">
      <h2>Subscribe To Our Newsletter</h2>
      <br/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quam odio, congue at lacus sit amet, dictum euismod nisi. Donec sed tincidunt lacus. Nam odio odio, faucibus a ligula id, pharetra bibendum ante. Nulla lacinia augue ut dui tincidunt iaculis. Fusce in ex tincidunt, porttitor sapien ut, ultricies nulla. Quisque sed dolor interdum, tincidunt elit quis, iaculis dui. Donec suscipit, lectus ut mollis finibus, nunc est gravida justo, id pretium lectus arcu aliquam nisi. Aenean leo massa, pharetra ac erat euismod, tristique aliquam mi. Duis auctor velit leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum mattis mi id lacus tempor, non fringilla enim suscipit. Nullam hendrerit, odio ac efficitur aliquet, augue velit finibus ipsum, et maximus massa erat non orci.</p>
      <hr/>
        
        <form>
        <input type="text" class="form-control input-lg" placeholder="Enter Email">
        <br/>
        <button class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
     
      
      </div>
    </div>
  </div>


 

