


<div class="showcase">
<div class="jumbotron-container">

 <!-- <h1>LinkUS</h1> -->
  <p>
    
  </p>
</div>


	
<br>
<br>
<br>
<br>
<!-- </div> -->

<div class="section-a">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
      <i class="fa fa-book"></i>
      <h3>Student</h3>
      <p style="font-variant:small-caps">Get ahead by using this app</p> 
      </div>

      <div class="col-md-3">
      <i class="fa  fa-university"></i>
      <h3>University</h3>
      <p style="font-variant:small-caps">Platform to evolve</p>
      </div>
  
      <div class="col-md-3">
      <i class="fa fa-home"></i>
      <h3>Parents</h3>
      <p style="font-variant:small-caps">Get involve with the communities!</p>
      </div>

      <div class="col-md-3">
      <i class="fa fa-industry"></i>
      <h3>Corporates</h3>
      <p style="font-variant:small-caps">Expand your Demographic market!</p>
      </div>

      
      </div>
    </div>
  </div>


<br>
<br>
  <div class="container">
    <h1>Got Ideas?</h1>
    <p class="lead">
      LinkUS is an app that will bridge the gap between industry requirement and professional education
    </p>
    
  </div>
  

</div> <!--div showcase -->




   <div class="section-b">
      <div class="container">
        <div class="row">
          <div class="col-md-6">

             <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Universities
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       This platform is one of the approaches to bridge the gap between industry requirement and professional education
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Students
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       Build your competency parallel to the latest industry requirements
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Corporates
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Gain a focused demographic to increase awareness of products as well as sales to the said audience
      </div>
    </div>
  </div>
       <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Parents
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
       Get involve with industries and professional education activities
      </div>
    </div>
  </div>
</div>


          </div>

          <div class="col-md-6">
            <img src="src/img/podcast.jpg">
          </div>

  
        </div>
      </div>
    </div>

 <div class="section-c">
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-md-offset-2">
      <h5>Subscribe To Our Newsletter</h5>
      <br/>
      <p>Exciting news awaiting you!</p>
      <hr/>
        
        <form>
        <input type="text" class="form-control input-lg" placeholder="Enter Email">
        <br/>
        <button class="btn btn-primary btn-lg btn-block">Submit</button>
        </form>
     
      
      </div>
    </div>
  </div>


 

